<a href="https://colab.research.google.com/github/diwakarankita/Pwskills-practice-assignment-/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Phyton Basics

1. Explain the key features of python that make it popular choice for programming

a. Easy to use
   - python is compact and easy to use object oriented language with very simple Syntex rules.

b. Expressive language
  - python is an express your language-fewer lines of code and simpler syntax as compared to the other popular programming languages like c++, Java etc.

c. Interpreted language
   - python is an interpreted language common not a compiled language.

d. It's completeness
   - for most types of required functionality is available through various modules of python standard library. Does, it is also called-python follows  "Batteries Include" philosophy.

e. Cross-platform language
   - python can run equally well on variety of platforms-windows, linux/unics, Macintosh, supercomputers,smartphones etc.

f. Free and open source
   - python language is freely available along with its source-code.

g. Variety of uses / Applications
   - python has evolved into a powerful, complete and useful language over these years. These days python is being used in many diverse fields / application.

2. Describe the role of predefined keywords and python and provide example of how they are used in a program

- In python keywords are special words that has predefined meanings and functionality. They are part of python's syntax and cannot be used as  variable names, function names, or identifiers. This keywords define the structure and behaviour of python programs.

- Python has 35 predefine keywords (as of python 3.11)and they are used for:
- Control flow ( example: if, else, for, while)
- Function and class definitions (example: def, class, return)
-Logical operations (example: and, or, not)
- Exception handling ( example: try, except, finally)
-Variable scoping ( example: global, nonlocal)

1. Boolean values ( True, False, None)
   - True and False =Boolean literals
   - None = represent absence of value.

In [ ]:
age = 25
if age < 18:
    print ("Minor")
elif age < 65:
    print("Adult")
else:
    print ("Senior")

Adult

In [ ]:
x = 10

def outer():
    y = 20
    def inner():
        nonlocal y
        global x
        y += 5
        x += 5
    inner()
    print("Nonlocal y:",y)

outer()
print("Global x:",x)

Nonlocal y: 25
Global x: 15

In [ ]:
for i in range (5):
    if i == 2:
        continue
    if i == 4:
        break
    print (i)

print ("\nWhile loop example:")
count = 0
while count < 3:
    print (count)
    count += 1

0
1
3

While loop example:
0
1
2

3. Compare and contrast mutable and immutable object in python with example

- in python objects are categorised as mutable (can be changed after creation) or (immutable cannot be changed after creation).

a. Immutable objects
   - Cannot be modify after creation.
   - Any operation that appears to be modified them creates a new object.
   - Examples:
    - int, float, bool
    - str( strings)
    - tuple
    - frozenset

In [ ]:
s = "hello"
print(s)       # strings cannot be changed
s[0] = 'H'

hello

TypeError: 'str' object does not support item assignment

In [ ]:
t = (1, 2, 3).      # tuples are immutable it cannot be modify
t[0] = 10

TypeError: 'tuple' object does not support item assignment

b. Mutable objects
- can be modified after creation.
-changes affect the same object in memory.
- Examples:
  - list
  - dict
  - set
  - User-defined classes

In [ ]:
list = [1, 2, 3]
print(list[0])

1

In [ ]:
list[0] = 10.     # list are mutable it can be modify
print(list)

[10, 2, 3]

In [ ]:
d = {'a':1,'b':3}
print(d)

{'a': 1, 'b': 3}

In [ ]:
d['c'] = 3
print(d) # dictionary can be modify

{'a': 1, 'b': 3, 'c': 3}

In [ ]:
s = {1, 2, 3}
print(s)

{1, 2, 3}

In [ ]:
s.add(20)
print (s) # sets are mutable object.

{1, 2, 3, 20}

4. Discuss the different types of operators in python and provide example of how they are used

-   The operation being carried out on data, are represented by operators. The symbols that trigger the operation / action on data are called operators. The operations are represented by operators and the object of the operation are referred to as operands.

-  python's rich side of operators comprises of these type of operators:
  - Arithmetic operators
  - Relational operators
  - Identity operators
  - Logical operators
  - Bitwise operators
  - Membership operators

Arithmetic operators

- To do arithmetic, python uses arithmetic operators. Python provides operators for basic calculation as given below:

 - addition(+)
 - multiplication(*)
 - foor division (//)
 - exponentiation(**)
 - subtraction (-)
 - division (/)
 - remainder (%)

Each of these operator is a binary operator that is, at requires two values (operands) and to calculate a final answer

Unary Operators
- Unary+
- The operators unary '+' precedes an operand. The operand( the value on which the operator operates( of the unary+ operator must have arithmetic type and the result is the value of the argument.
  - Example:
  - if a = 5 then + a means 5.
  - if a = 0 then + a means 0.
  - if a = -4 then + a means -4.

- Unary-
- The operator unary- precedes an operand. The operand of the unary-operator must have arithmetic type and the result is the negation of its operand's value.
  - Example:
  - if a = 5 then -a means -5.
  - if a = 0 then -a means 0.
  - if a = -4 then -a means 4.
This operator rivers the sign of the operand's value.

Binary Operators

- operators that act upon two operands are referred to as binary operators. The operands of a binary operator are distinguished as the left or right operand full stop together, the operator and its operands constitute and expression.

a. Additional operator +
   - the Arithmetic binary operator+ ads value of its operands and the result is the sum of the values of its to operands.

- Examples
    - 4 + 20                             result in 24
    - a + 5 ( where a= 2)                result in 7
    - a + b ( where a = 4, b = 6)        result in 10
For addition operator + operands maybe numbers of types.

b. Subtraction operator -

- The - operator subtract the second operand from the first.
- Example
   - 14 - 3  evaluates to 11
   - a - b( where a = 7, b = 5 evaluates to 2
   - x - 3 ( where x = -1) evaluates to -4
The operants may be number of types.

c. Multiplication operator *
- The * operator multiply the value of operands.
- Example:
  - 3*4 evaluates to 12
  - b*4(where b=6) evaluates to 24
  - p*2(where p = -5) evaluates to -10
  - a*c(where a = 3, c = 5 evaluates to 15
The operants may be of integer or floating point number types.
Python also offers * as a replication operator when used with strings.

d. Division operator/
   -The / operator in python 3.x divide 8 first operand by the second operand and always return the result as a float value.
- Example:
  - 4/2 evaluates to 2.0
  - 100/10 evaluates to 10.0
  - 7/2.5 evaluates to 2.8
  - 100/32 evaluates to 3.125

In [ ]:
A, B, C, D = 9.2, 2.0, 4, 21
print ((A/4),(A//4))
print (B**C)
print (D//B)
print (A%C)

2.3 2.0
16.0
10.0
1.1999999999999993

In [ ]:
Radius = 3.75
Area = 3.14159*Radius**2
print(Area,'sq. metre')

44.178609375 sq. metre

Relational operators
- in the term relational operator, relation refers to the relationship that values can have with one another. Thus, the relational operators determine the relation among different operands. Python provides 6 relation operators for comparing values. If the comparison is true, the relation expression result into the Boolean value true and to boolean value false, if the comparison is false.

- The six relational operators are:
  - less than
  - greater than  
  - less than or equal to
  - greater than or equal to
  - equal to
  - not equal to

In [ ]:
# Examples:
2 == 2

True

In [ ]:
2!=2

False

In [ ]:
5!=2

True

In [ ]:
10 > 2

True

In [ ]:
10<2

False

In [ ]:
12>=12

True

Identity operators
- There are two identity operators in python is and is not. The identity operators are used to check if both the operant refer to the same object memory that is the identity operators compared the memory location of two object and written true or false accordingly.

In [ ]:
A = 10
B = 10
A is B

True

In [ ]:
A=235
B=240
C=235
A is B

False

In [ ]:
A=235
B=240
C=235
A is C

True

5. Explain the concept of type  casting in python with example
- Type casting is the process of converting a variable from one data type to another. Python support implicit and explicit type casting.

a. Implicit type casting
- python automatically convert one data type to another when needed.
- example when adding a int and a float

In [ ]:
a = 5 # int
b = 2.5 # float
result= a + b
print(result) # python convert 'a' to float automatic

7.5

In [ ]:
print(type( result)) # output:<class 'float'>

<class 'float'>

Explanation
- a (int) is implicity converted to float before addition
- result is float

b. Explicit type casting
- you manually convert data types using built-in function like int( ), float ( ), str( ), etc.

In [ ]:
# Examples:
num_str = "10" #string
num_int = int(num_str) #convert string to int

print(num_int+5)

15

In [ ]:
num_int = 5
num_float = float(num_int)


print(num_float)

5.0

In [ ]:
age = 25
age_str = str(age)

print ("Age: "  + age_str)

Age: 25

6. How do conditional statement work in python ? Illustrate with example

- conditional statement allow your program to make decisions by executing different code block based on whether a condition is true or false.

a. if statement

- execute A block only if the condition is true.
- Syntax:
- if condition: code to execute if condition is true

In [ ]:
age = 18

if age >= 18:
    print(" you are eligible to vote.")

 you are eligible to vote.

b. If - else statement
- execute one block if the condition is true, otherwise run the s block.

Syntax:
- if condition: code if  true
- else: code if false

In [ ]:
num= 10

if num % 2 == 0:
    print("Even number")
else:
    print("odd number")

Even number

c. if- elif- else Statement
- checks multiple condition in sequence.

Syntax:
- if condition: code if condition is  is true
- elif condition: code if condition to is true
- else: code if all conditions are false

In [ ]:
marks = 85

if marks >=90:
    grade = 'A'
elif marks >= 80:
    grade = "B"
elif marks >=70:
    grade = 'C'
else:
    grade = "fail"

print(f" your grade: {grade}")

 your grade: B

d. Nested if statement s
- An if statement inside another if.

In [ ]:
username = "admin"
password = "1234"

if username == "admin":
    if password == "1234":
        print ("Login successfully")
    else:
        print ("Wrong password!")
else:
    print("User not found!")

Login successfully

e. Ternary Operator (Short if - else)
- a compact way to write simple if-eles in one line.

In [ ]:
age = 20
status = 'Adult' if age >= 18 else " Minor"
print(status)

Adult

f. Logical operators in conditions
 - combine condition using and, or, not.

In [ ]:
temperature = 25
is_summer = True

if temperature > 30 or is_summer:
    print("It's Hot!")
else:
    print ("Normal weather.")

It's Hot!

7. Describe the different types of loop in python and their use cases with example.
- loops I love you to executive block of code repeatedly. By then has to main types of loop : for and while, each with specific use cases in real world project

a. For Loop
When to use:
- when you know how many times to iterate
- idol for iterating over sequence

Syntax :

In [ ]:
for item in sequence:
    # Code to execute

Use cases and example
- Iterating over a list

In [ ]:
cart_items = [ "Laptop", "Headphones","Mouse","Keyboard"]

for item in cart_items:
    print(f"Processing: {item}")

Processing: Laptop
Processing: Headphones
Processing: Mouse
Processing: Keyboard

- Looping with range ( )

In [ ]:
for count in range(5, 0, -1):
    print(f" Countdown: {count}")
print("Launch!")

 Countdown: 5
 Countdown: 4
 Countdown: 3
 Countdown: 2
 Countdown: 1
Launch!

In [ ]:
# Dictionary Iteration
grades = {"Alice":90, "Bob":85,"Charlie":72}

for name, score in grades.items( ):
    print(f"{name} scored { score}")

Alice scored 90
Bob scored 85
Charlie scored 72

2. while Loop

When to use:

- when you don't know how many times to iterate
- Runs until a condition is false.


Syntax:

In [ ]:
while condition:
  # code to execute

In [ ]:
# User Input Validation
max_attempts = 3
attempts = 0

while attempts < max_attempts:
    password = input("Enter password: ")
    if password == "sceret123":
        print("Access granted!")
        break
    else:
        attempts += 1
        print(f"Wrong password! Attempts left: { max_attempts - attempts}")
else:
    print("Account locked!")

Enter password: Sceret123
Wrong password! Attempts left: 2
Enter password: Sceret123
Wrong password! Attempts left: 1
Enter password: sceret123
Wrong password! Attempts left: 0
Account locked!

In [ ]:

for num in range(3):
     print(num)
else:
    print("Loop finished!")

0
1
2
Loop finished!

In [ ]:
for num in range (1, 6):
    if num == 3:
        continue
    print(num)

1
2
4
5

In [ ]:
for num in range(1, 10):
    if num == 5:
        break
    print(num)

1
2
3
4